
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'base.html' %}
<body>
    {% block body %}
        {% for post in user.posts %}
            <div class="card">
                <h5 class="card-header">{{post.header}}</h5>
                <button class=""></button>
                <br>
                <div>Author: {{user.username}}</div>
                <br>
                <p class="card-text">{{post.body}}</p>
                {% if current_user.id == post.user_id %}
                    <button>Delete</button>
                {% endif %}
            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>