<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <form method="POST" action="{{url_for('add_user')}}">
            {{ add_form.csrf_token }}
            {{ add_form.email.label }}  {{ add_form.email }}
            {{ add_form.username.label }} {{ add_form.username }}
            {{ add_form.password.label }} {{ add_form.password }}
            {{ add_form.repassword.label }}  {{ add_form.repassword }}
            <input type="submit" value="Create">
        </form>
    {% endblock %}
</body>
</html>